@tailwind base;
@tailwind components;
@tailwind utilities;


/* Apply background color and padding to code block content */
.ql-syntax {
  background-color: #282c34; /* Dark background for code block */
  color: #f8f8f2;           /* Light text color */
  padding: 10px;            /* Add padding inside the code block */
  border-radius: 5px;       /* Optional: Rounded corners */
  font-family: 'Courier New', monospace; /* Use monospace font for code */
  font-size: 14px;          /* Adjust font size */
  display: inline-block;    /* Adjust block width to fit the content */
  max-width: 100%;          /* Ensure it doesn't overflow its container */
  overflow-x: auto !important; /* Allow horizontal scrolling if needed */
  white-space: pre-wrap;    /* Wrap lines if they exceed the container width */
  word-break: break-word;   /* Break long words to avoid overflow */
  box-sizing: border-box;   /* Include padding and border in the width/height */
}
.border-b-1{
    border-bottom: 1px solid gray;
}

.line-2x{
    line-height: 58px;
}

.slick-next:before {
  content: '→';
  color: darkgray;
}

.slick-prev:before {
  content: '←';
  color: darkgray;
}
body{
    height: 100vh;
    background: #fff !important;
}

.p0{
  padding: 0px !important;
}
.blur{
  backdrop-filter: blur(2px);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
}




button :focus{
  outline: none !important;
  outline-color: none !important;
}

.ql-editor{
font-size: 1.05rem;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 9px !important;
}

.mywidth{
    width: 100%;
}

.w-inherit{
    width: inherit !important;
}



.post-content h1{
    font-weight: 600;
    font-family: sans-serif;

}

.post-content h2{
    font-family: sans-serif;
}


.post-content h3{
    font-family: sans-serif;
}



.post-content a{
  color:dodgerblue;
  text-decoration: none;
}

.post-content a:hover{
    text-decoration: underline;
  }

  .shadow{
    box-shadow:none !important;
  }

  .rescolor{
    color: black !important;
  }

  .bgback{
    background: #f4f2ee;
  }

  .w-34rem{
    width: 35rem;
  }

  @media only screen and (max-width: 765px)  {
    .w-34rem{
        width: 100% !important;
      }
      .slick-next{
        display: none !important;
      }
  }

  pre{
    overflow: overlay !important;
  }

.mydrop{
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
    background: none !important;
    font-size: 12px !important;
    outline: none !important;
    background-image: none !important;
    color: #000 !important;
    width: auto  !important;
    -webkit-appearance: none; 
    box-shadow: none !important; 
    border-radius: none !important;
}

:-webkit-autofill { color: #fff !important; }

.option{
  margin: 4px !important;
  border-radius: none !important;
}

.postinput:focus{
  outline: none !important;
  box-shadow: none !important;
  border: none !important;

}